<div class="row">

  <div class="col-md-8 col-lg-9">

    <div class="reservation_content">
      <!-- Booking Confirmation -->
      <b7b-reservation-booking [person]="person" [loc]="loc"></b7b-reservation-booking>
    </div>

  </div>

  <div class="col-md-4 col-lg-3">
    <div class="reservation-sidebar">

      <!-- Contact -->
      <b7b-help></b7b-help>

      <!-- Some Extra Info -->
      <b7b-extra-info></b7b-extra-info>

    </div>
  </div>

</div>
