<ul>
  <li *ngFor="let step of steps; let i = index"
      [ngClass]="{'first' : i == 0, 'last' : i == size, 'active' : i == current, 'disabled': i > current, 'done' : i < current}">
    <a><span>{{i+1}}.</span> {{step.title}}</a>
  </li>
</ul>

<ng-content></ng-content>
