<div class="reservation-confirmation">

  <h4>BOOKING CONFIRMATION</h4>

  <div class="comlete-alert-a">
    <b>Thank You. Your Order is Confirmed.</b>
    <span>Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</span>
  </div>

  <h5>Your Personal Information</h5>

  <div class="complete-info-book">
    <div class="complete-info-item">
      <span class="complete-label">Booking Reference:</span>
      <span class="complete-info">{{loc}}</span>
    </div>
    <div class="complete-info-item">
      <span class="complete-label">First Name:</span>
      <span class="complete-info">{{person.firstName}}</span>
    </div>
    <div class="complete-info-item">
      <span class="complete-label">Last Name:</span>
      <span class="complete-info">{{person.lastName}}</span>
    </div>
    <div class="complete-info-item">
      <span class="complete-label">E-Mail Adress:</span>
      <span class="complete-info">{{person.email}}</span>
    </div>
    <div class="complete-info-item">
      <span class="complete-label">Country:</span>
      <span class="complete-info">{{person.address.country}}</span>
    </div>
    <div class="complete-info-item">
      <span class="complete-label">Phone Number:</span>
      <span class="complete-info">{{person.phone}}</span>
    </div>

    <div class="complete-txt">
      <h6>Payment Info</h6>
      <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem
        sequi nesciunt. Que porro quisqua. Sed ut perspiciatis unde omnis ste natus error sit voluptatem.</p>
      <div class="complete-txt-link"><a href="#">Payment is made by Via {{person.payment}}.</a></div>
    </div>

    <div class="complete-txt">
      <h6>Booking Details</h6>
      <p>Qoluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt.
        Que porro quisqua. Sed ut perspiciatis unde omnis ste natus error.</p>
      <div class="complete-txt-link"><a href="#">Your Hotel Info</a></div>
    </div>
  </div>

</div>
