<div class="extra-info-sidebar bg-gray">

  <h2 class="extra-info-heading">Lorem ipsum dolor</h2>

  <div class="extra-info-list">
    <article class="extra-info-item">
      <h3>Lorem ipsum</h3>
      <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
    </article>

    <article class="extra-info-item">
      <h3>Lorem ipsum</h3>
      <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
    </article>

    <article class="extra-info-item">
      <h3>Lorem ipsum</h3>
      <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
    </article>
  </div>
</div>
