a,
input,
textarea,
button,
select {
  outline: none;
}

a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none !important;
  text-decoration: none;
}

body {
  position: relative;
  font-family: $second-font;
  font-size: 14px;
  color: #232323;
  padding: 0;
  margin: 0;
  letter-spacing: 0.014em;
}

input,
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

::-webkit-input-placeholder {
  color: #898989 !important;
}

:-moz-placeholder {
  color: #898989 !important;
  opacity: 1;
}

::-moz-placeholder {
  color: #898989 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #898989 !important;
}

::-ms-input-placeholder {
  color: #898989 !important;
}
