p {
  line-height: 1.7em;
  letter-spacing: 0.02em;
  font-size: 15px;
}

input[type='search'],
input[type='text'],
input[type='url'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='file'] {
  background: none;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  color: #666;
  font-size: 12px;
  @include appearance('none');
  font-family: $first-font;
}

select {
  color: #232323;
  font-family: $first-font;
  font-size: 12px;
}

textarea {
  background: none;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  resize: none;
  padding: 12px;
  height: 140px;
  color: #666;
  font-size: 14px;
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #888888;
}

textarea::-webkit-input-placeholder {
  color: #888888;
}

a {
  color: #232323;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: normal;
  line-height: 1.5em;
  color: #232323;
  font-family: $first-font;
  margin: 0;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
  color: inherit;
}

h2,
.h2 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 21px;
}

h6,
.h6 {
  font-size: 14.12px;
}

h2.reservation-heading {
  font-size: 16px;
  color: #333333;
  font-family: $first-font;
  text-transform: uppercase;
  padding: 12px 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}
