<div class="reservation-billing-detail">

  <h4>BILLING DETAILS</h4>
  <form [formGroup]="billing">

    <div class="row">
      <div class="col-sm-6">
        <label>First Name<sup>*</sup></label>
        <input type="text" class="input-text" formControlName="firstName"
               [ngClass]="{'invalid': billing.get('firstName').touched && billing.get('firstName').invalid}">
        <span class="invalid" *ngIf="billing.get('firstName').touched && billing.get('firstName').invalid">Please, insert a valid firstname</span>
      </div>
      <div class="col-sm-6">
        <label>Last Name<sup>*</sup></label>
        <input type="text" class="input-text" formControlName="lastName"
               [ngClass]="{'invalid': billing.get('lastName').touched && billing.get('lastName').invalid}">
        <span class="invalid" *ngIf="billing.get('lastName').touched && billing.get('lastName').invalid">Please, insert a valid lastname</span>
      </div>
    </div>

    <label>Address<sup>*</sup></label>
    <div formGroupName="address">
      <input type="text" class="input-text" formControlName="street"
             [ngClass]="{'invalid': billing.get('address').get('street').touched && billing.get('address').get('street').invalid}">
      <span class="invalid" *ngIf="billing.get('address').get('street').touched && billing.get('address').get('street').invalid">Please, insert a valid street</span>

      <div class="row">
        <div class="col-sm-6">
          <label>Town / City<sup>*</sup></label>
          <input type="text" class="input-text" formControlName="city"
                 [ngClass]="{'invalid': billing.get('address').get('city').touched && billing.get('address').get('city').invalid}">
          <span class="invalid" *ngIf="billing.get('address').get('city').touched && billing.get('address').get('city').invalid">Please, insert a valid city</span>
        </div>
        <div class="col-sm-6">
          <label>Country<sup>*</sup></label>
          <input type="text" class="input-text" formControlName="country"
                 [ngClass]="{'invalid': billing.get('address').get('country').touched && billing.get('address').get('country').invalid}">
          <span class="invalid" *ngIf="billing.get('address').get('country').touched && billing.get('address').get('country').invalid">Please, insert a valid country</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label>Email Address<sup>*</sup></label>
        <input type="text" class="input-text" formControlName="email"
               [ngClass]="{'invalid': billing.get('email').touched && billing.get('email').invalid}">
        <span class="invalid" *ngIf="billing.get('email').touched && billing.get('email').invalid">Please, insert a valid email</span>
      </div>
      <div class="col-sm-6">
        <label>Phone<sup>*</sup></label>
        <input type="text" class="input-text" formControlName="phone"
               [ngClass]="{'invalid': billing.get('phone').touched && billing.get('phone').invalid}">
        <span class="invalid" *ngIf="billing.get('phone').touched && billing.get('phone').invalid">Please, insert a valid phone</span>
      </div>
    </div>

    <label>Order Notes</label>
    <textarea class="input-textarea" placeholder="Notes about your order, eg. special notes for delivery"
              formControlName="notes"></textarea>

    <label class="label-radio">
      <input type="checkbox" class="input-radio">
      Create an account?
    </label>

    <p class="reservation-code">
      You have a coupon? <a href="#">Click here to enter your code</a>
    </p>

    <ul class="option-bank">
      <li>
        <label class="label-radio">
          <input type="radio" class="input-radio" name="payment" value="transfer" formControlName="payment"
                 [ngClass]="{'invalid': billing.get('payment').touched && billing.get('payment').invalid}">
          Direct Bank Transfer
        </label>
        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your
          order
          won’t be shipped until the funds have cleared in our account.</p>
      </li>

      <li>
        <label class="label-radio">
          <input type="radio" class="input-radio" name="payment" value="cheque-payment" formControlName="payment"
                 [ngClass]="{'invalid': billing.get('payment').touched && billing.get('payment').invalid}">
          Cheque Payment
        </label>
      </li>

      <li>
        <label class="label-radio">
          <input type="radio" class="input-radio" name="payment" value="credit-card" formControlName="payment"
                 [ngClass]="{'invalid': billing.get('payment').touched && billing.get('payment').invalid}">
          Credit Card
        </label>
      </li>

      <span class="invalid" *ngIf="billing.get('payment').touched && billing.get('payment').invalid">Please, insert a valid payment method</span>

    </ul>
    <button class="awe-btn awe-btn-13" (click)="onBuy()" [disabled]="billing.invalid">PLACE ORDER</button>
  </form>
</div>
