<div class="reservation-room_item">

  <h2 class="reservation-room_name"><a href="#">{{room.type}} room</a></h2>

  <div class="reservation-room_img">
    <a href="#">
      <img src="{{room?.images[0]}}" alt="">
    </a>
  </div>

  <div class="reservation-room_text">

    <div class="reservation-room_desc">
      <p>{{room.description | slice:0:300}}</p>
      <ul class="reservation-room_services">
        <li *ngFor="let service of room.services"><i class="fa fa-{{service | services}}"></i></li>
      </ul>
    </div>

    <a class="reservation-room_view-more">View More Infomation</a>

  </div>

  <div class="reservation-room_package">

    <span class="reservation-room_package-more">Mealplan options</span>

    <div class="reservation-room_package-content" *ngFor="let board of room.board">

      <div class="reservation-package_item">

        <div class="reservation-package_text">

          <h4><a href="#">{{board.type | mealplan}}</a></h4>
          <p>{{board.description}}</p>

          <div class="reservation-package_book-price">
            <p class="reservation-package_price">
              <span class="amout">{{room.price + board.price}}€</span>
            </p>
            <a class="awe-btn awe-btn-default" (click)="onAddRoom(room, board)">Add room</a>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
