<div class="row">

  <div class="col-md-4 col-lg-3">
    <div class="reservation-sidebar">

      <!-- Selected Dates -->
      <b7b-reservation-selected-dates [reservation]="reservation"></b7b-reservation-selected-dates>

      <!-- Selected Rooms -->
      <b7b-reservation-selected-rooms [selectedRooms]="selectedRooms"></b7b-reservation-selected-rooms>

    </div>
  </div>

  <div class="col-md-8 col-lg-9">

    <div class="reservation_content">
      <!-- Booking Reservation Form -->
      <b7b-reservation-billing (action)="onFilledForm($event)"></b7b-reservation-billing>
    </div>

  </div>

</div>
