<div class="reservation-room-selected bg-gray">

  <h2 class="reservation-heading">Select Rooms</h2>

  <div class="reservation-room-seleted_item" *ngFor="let room of selectedRooms; let i = index">
    <h6>ROOM {{i + 1}}</h6>
    <span class="apb-option">{{room.adult}} Adult, {{room.child}} Child</span>
    <div class="reservation-room-seleted_name">
      <h2>{{room.config.type}}</h2>
      <span class="reservation-amout">${{room.config.totalPrice}}</span>
      <p class="reservation-mealplan">{{room.config.mealplan | mealplan}}</p>
    </div>
    <a class="reservation-room-seleted_remove" *ngIf="i + 1 == selectedRooms.length" (click)="onRemove()">Remove Room</a>
  </div>

  <div class="reservation-room-seleted_current bg-blue"
       *ngIf="selectedRooms.length < reservation.get('rooms')['controls'].length">
    <h6>YOU ARE BOOKING ROOM {{selectedRooms.length + 1}}</h6>
    <span>
      {{reservation.get('rooms')['controls'][selectedRooms.length].get('adult').value}} Adult,
      {{reservation.get('rooms')['controls'][selectedRooms.length].get('child').value}} Child
    </span>
  </div>

  <div class="reservation-room-seleted_total">
    <label>TOTAL</label>
    <span class="reservation-total">${{selectedRooms | totalPrice }}</span>
  </div>

</div>
