.section-404 {
  background-image: url('assets/img/platform/404/not-found-image.jpg');
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .page-404 {
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0%;
    margin: auto;

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 80px;
      font-family: first-font;
      line-height: 1;
      margin-top: 50px;

      span {
        color: $main-color;
      }
    }

    h6 {
      color: #fff;
      font-size: 27px;
      margin-top: 10px;
      font-family: first-font;
    }

    p {
      margin-bottom: 0;
      font-size: 18px;
      color: #fff;
      margin-top: 25px;

      &:last-child {
        margin-top: 20px;
      }

      a {
        color: #fff;
        font-weight: 700;
      }
    }

    .awe-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(72, 72, 72, 0.3);
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}
