<div class="help-sidebar bg-gray">

  <h2 class="help-heading">Need help?</h2>

  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur.</li>
    <li>+34 876 213 213</li>
    <li>loremipsum@gmail.com</li>
  </ul>
</div>
