<div class="reservation_content bg-gray">
  <h2 class="reservation-heading">Availability</h2>

  <div class="col-sm-6 reservation-calendar">
    <div class="reservation-calendar_custom">

      <div class="reservation-calendar_title">
        <span class="reservation-calendar_month">JUNE</span>
        <span class="reservation-calendar_year">2017</span>

        <a class="reservation-calendar_prev reservation-calendar_corner"><i class="fa fa-arrow-left"></i></a>
      </div>

      <table class="reservation-calendar_tabel">
        <thead>
          <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="reservation-calendar_current-date">
              <a><small>1</small></a>
            </td>
            <td class="not-available"><a><small>2</small></a></td>
            <td><a><small>3</small></a></td>
            <td class="not-available"><a><small>4</small></a></td>
            <td class="not-available"><a><small>5</small></a></td>
            <td><a><small>6</small></a></td>
          </tr>
          <tr>
            <td><a><small>7</small></a></td>
            <td class="not-available"><a><small>8</small></a></td>
            <td class="not-available"><a><small>9</small></a></td>
            <td class="not-available"><a><small>10</small></a></td>
            <td><a><small>11</small></a></td>
            <td><a><small>12</small></a></td>
            <td><a><small>13</small></a></td>
          </tr>
          <tr>
            <td><a><small>14</small></a></td>
            <td><a><small>15</small></a></td>
            <td><a><small>16</small></a></td>
            <td><a><small>17</small></a></td>
            <td><a><small>18</small></a></td>
            <td><a><small>19</small></a></td>
            <td><a><small>20</small></a></td>
          </tr>
          <tr>
            <td><a><small>21</small></a></td>
            <td><a><small>22</small></a></td>
            <td><a><small>23</small></a></td>
            <td><a><small>24</small></a></td>
            <td><a><small>25</small></a></td>
            <td><a><small>26</small></a></td>
            <td><a><small>27</small></a></td>
          </tr>
          <tr>
            <td><a><small>28</small></a></td>
            <td><a><small>29</small></a></td>
            <td><a><small>30</small></a></td>
            <td><a><small>31</small></a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="col-sm-6 reservation-calendar">
    <div class="reservation-calendar_custom">

      <div class="reservation-calendar_title">
        <span class="reservation-calendar_month">JULY</span>
        <span class="reservation-calendar_year">2017</span>

        <a class="reservation-calendar_next reservation-calendar_corner"><i class="fa fa-arrow-right"></i></a>
      </div>

      <table class="reservation-calendar_tabel">
        <thead>
        <tr>
          <th>Su</th>
          <th>Mo</th>
          <th>Tu</th>
          <th>We</th>
          <th>Th</th>
          <th>Fr</th>
          <th>Sa</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td class="reservation-calendar_current-date">
            <a><small>1</small></a>
          </td>
          <td class="not-available"><a><small>2</small></a></td>
          <td class="not-available"><a><small>3</small></a></td>
          <td class="not-available"><a><small>4</small></a></td>
          <td class="not-available"><a><small>5</small></a></td>
          <td><a><small>6</small></a></td>
        </tr>
        <tr>
          <td><a><small>7</small></a></td>
          <td><a><small>8</small></a></td>
          <td><a><small>9</small></a></td>
          <td><a><small>10</small></a></td>
          <td><a><small>11</small></a></td>
          <td><a><small>12</small></a></td>
          <td><a><small>13</small></a></td>
        </tr>
        <tr>
          <td><a><small>14</small></a></td>
          <td><a><small>15</small></a></td>
          <td><a><small>16</small></a></td>
          <td><a><small>17</small></a></td>
          <td class="not-available"><a><small>18</small></a></td>
          <td class="not-available"><a><small>19</small></a></td>
          <td><a><small>20</small></a></td>
        </tr>
        <tr>
          <td><a><small>21</small></a></td>
          <td><a><small>22</small></a></td>
          <td><a><small>23</small></a></td>
          <td><a><small>24</small></a></td>
          <td><a><small>25</small></a></td>
          <td><a><small>26</small></a></td>
          <td><a><small>27</small></a></td>
        </tr>
        <tr>
          <td><a><small>28</small></a></td>
          <td><a><small>29</small></a></td>
          <td><a><small>30</small></a></td>
          <td class="not-available"><a><small>31</small></a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
